#allAddGoods{
  position: relative;
}
.preGoods{
  width: 65%;
  float: left;
  box-shadow: 0 0 10px rgb(180,180,180);
  position: absolute;
}
#preGoodsText{
 text-align: center;
}
#preGoodsImgDiv{
  width: 360px;
  margin: auto;
  margin-bottom: 20px;
}
#preGoodsImgDiv img{
  width: 360px;
  box-shadow: 0 0 5px gray;
}
#preAddGoods{
  width: 35%;
  float: right;
}
.addGoodsTitle{
  margin-left: 10px;
}
#addGoodsHeader{
  margin-top: 20px;
  margin-left: 10px;
}
#pre-inputSwitch{
  float: right;
  margin-right: 30px;
}
#addGoodsHeader span{
  font-size: 23px;
}
#addGoodsLogo{
  width: 150px;
}

#addGoodsDiv{
  margin: auto;

}
#addGoodsForm{
  width: 90%;
  margin: auto;
}
.goodEachInfo{
  margin-top: 15px;
}
#preGoodsText{
  margin-left: 10px;
  margin-top: 20px;
}
