<div id="allHeader">
  <div id="header">
    <img id="logoImg" src="../../../assets/img/logoText.png" height="36" width="163"/>
    <nav id="navDiv">
      <div class="eachNav navActivated">首页</div><div class="eachNav">我的订单</div>
    </nav>
    <nav id="otherNav">
      <img src="../../../assets/img/serviceCenter.png"/><div class="otherEachNav">服务中心</div><div class="otherEachNav">关于我们</div>
    </nav>
  </div>
</div>
<div id="allShopType">
  <div id="shopTypeText">
    商家分类:
  </div>
  <div id="allType">
    <p-selectButton [options]="shopTypes" name="selectedShopType" [(ngModel)]="selectedShopType"></p-selectButton>
    <img id="indexLogo" src="../../../assets/img/indexLogo.png" height="50" width="203"/>
  </div>
</div>

<div id="allShop">
  <div class="eachShop">
    <div class="shopLetf">
      <img class="shopImg" src="../../../assets/img/8ad3afbba7cc8fe3f682c4ebe0811jpeg.jpeg"/>
      <p class="shopAddress">重庆江北</p>
    </div>
    <div class="shopRight">
      <p class="shopName">黄焖鸡米饭</p>
      <p-rating  [cancel]="false" [style]="{'background':'red'}"></p-rating>
      <span class="shopSales">月售100单</span><span class="startSales">15元起送</span>
    </div>
    <div></div>
  </div>
</div>
