<div   [@flyInOut]="inactive">
  <!--头部开始-->
  <div id="allHeader">
    <div id="headerLeft"><img id="sellerLogo" src="../../../assets/img/sellerLogo.png"/>商家后台管理</div>
    <div id="headerRight">
      <div id="headerTools">
        <input class="simpleInput" placeholder="search...">
        <img id="searchImg" class="toolImg" src="../../../assets/img/search.png"/>
        <img class="toolImg" src="../../../assets/img/tongzhi.png"/>
        <img class="toolImg" src="../../../assets/img/setting.png"/>
      </div>
    </div>
  </div>
  <!--头部结束-->

    <!--导航菜单开始-->
    <div id="allMenuDiv">
      <div id="userInfo">
        <img class="shopImg" [src]="user?user.shop.shopImg:'upload/userImg.png'">
        <p id="nickName">{{user?user.seller.sellerName:none}}</p>
      </div>
      <ul id="menuUl">
        <li *ngFor="let item of items;">
          <app-menu-item [item]="item"  (eNav)="nav($event)"></app-menu-item>
        </li>
      </ul>
    </div>
    <!--导航菜单结束-->
    <div id="allContent">
      <router-outlet></router-outlet>
    </div>
</div>
