#allHeader{
  height: 60px;
  background: rgb(30,137,224);
  line-height: 60px;
  box-shadow: 0 1px 5px rgb(0,107,199);
}
#header{
  color: white;
  width: 1100px;
  margin: auto;
}

#navDiv{
  display: inline-block;
  width: 500px;
  margin-left: 20px;
}
#logoImg{
  height: 36px;
}
.eachNav{
  cursor: pointer;
  margin-left: 20px;
  font-size: 18px;
  display: inline-block;
  width: 100px;
  text-align: center;
}
#otherNav{
  float: right;
  width: 400px;
}
.otherEachNav{
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
  width: 80px;
  text-align: center;
}
#customerInfo{
  cursor: pointer;
  display: inline-block;
  margin-left: 80px;
}
.navActivated{
  background: rgb(0,107,199);
}
#customerProfile{
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
#customerName{
  font-size: 13px;
  color: beige;
  font-weight: bold;
}
